$primary-color: #68b04d;
$border-radius: 4px;
$grey : #ccc;
$error : red;

.mod-response {
  display: none;



}

.jvectormap {
  height:450px;
  padding-bottom: 100px;


  .jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    border-radius: $border-radius;
    background: #292929;
    color: white;
    font-size: smaller;
    padding: 3px;
  }

  .jvectormap-zoomin,
  .jvectormap-zoomout {
    position: absolute;
    left: 0;
    box-shadow: 2px 2px 2px #333;
    border-radius:$border-radius;
    background: $primary-color;
    padding: 5px;
    color: white;
    width: 15px;
    height: 15px;
    cursor: pointer;
    line-height: 15px;
    text-align: center;
  }

  .jvectormap-zoomin {
    top: 50px;
  }

  .jvectormap-zoomout {
    top: 80px;
  }


}

.this-is {
  line-height: 1.5em;


  color:#333;

  padding: 3px;
}
.this-is__icon {
  display: none;

}
.emoji .this-is__icon {
  display: inline;
}
.download-bar.download-bar {
  position: absolute;
  top:0;
  padding: 4px;
  z-index: 1;
  background: rgba(133,133,133,.2);
  width: 100%;

  border-radius: $border-radius;
  xbackground: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(90,90,90,1) 100%);
  box-sizing: border-box;
  text-align: right;
}
.download-bar__button.download-bar__button {
  background: $primary-color;
  color:#fff;
  text-decoration: underline;
  &:hover {
   background: red;
  }
}
.download-bar__button:before {
  content:"";
  width:14px;
  margin-right: 5px;
  height:14px;
  line-height: 1;
  display: inline-block;

  background-image: url('data:image/png;base64,
iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAl0lEQVQokZ2SoQ3DMBBFDwaFhhR4jECP0gECslFBO0h5Bgg17QIBKXgF/eAUxb2kT/qSdbon+Vs2E0ALpCCteTScgWeQGUheKsAduAZ5aDeZDmcp9ocEQE0cgayMZ8TsHi5H4sK3bwF6J/ZuvuyJb2CwCsCgnepVb0DjhEazQx0n4KJMUcctL2UXA9Yfco3VgI74c2/TfQCy05fUVxttsAAAAABJRU5ErkJggg==');
}

.content {
  padding: 1em;
  width: 80%;
  margin: 2em auto;
  border-radius: $border-radius;
  border: .2em solid $primary-color;
  box-shadow: 3px 3px 3px #333;
  background: #fff;
}

.welcome__title {
  display: none;
}

body {
  /*background: url(../img/bg.jpg) center center no-repeat;*/
}



.url-form__alert {
  margin: 10px 0;
  display: none;
}

.example__hint {
  color: #999;
  -ms-word-break: break-all;

  /* Be VERY careful with this, breaks normal words wh_erever */
  word-break: break-all;

  /* Non standard for webkit */
  word-break: break-word;
  display: block;
  margin-top:5px;
}

.url-form__submit {
  background-color: $primary-color;
  font-size: 150%;
}

.url-form__input {
  font-size: 150%;
}

.url-form.success .url-form__input {
  border-color: $primary-color;
}

.url-form.error .url-form__input {
  border-color: $error;
}



.tab {

  position: relative;

  .show {
    display: block;
  }

}



.main-nav {
  margin: 20px 0;

  li {
    background: $grey;
  }
}



.stats {
  bottom: 0;
  z-index: 1;
  position: absolute;

  td {
    width: 50px;
    text-align: right;
  }
}