@import "globals";
@import "../../build/styles/icons";

a {
    color: $link-color;


    &:hover {
        background-color: $primary-color;
        color: $white;
    }
}


.icon {
    background-repeat: no-repeat;

}


.is-hidden {
    display: none !important;
}

.is-invisible {
    visibility: visible !important;
}

.block {
    display: block !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border-radius: $border-radius;
    background: #292929;
    color: white;
    z-index: 2;
    padding: 5px;
}

.jvectormap {
    .jvectormap__container {
        height: 450px;
        padding-bottom: 100px;
    }

    .jvectormap-zoomin,
    .jvectormap-zoomout {
        position: absolute;
        left: 0;
        border-radius: $border-radius;
        background: $primary-color;
        padding: 5px;
        color: white;
        width: 15px;
        height: 15px;
        cursor: pointer;
        line-height: 15px;
        text-align: center;
    }

    .jvectormap-zoomin {
        top: 50px;
    }

    .jvectormap-zoomout {
        top: 80px;
    }

}

.this-is {
    line-height: 1.5em;
    color: #fff;
    font-weight: normal;
    padding: 3px;
}

.download-bar.download-bar, .stats-bar {
    position: absolute;
    top: 0;
    padding: 4px;
    z-index: 1;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    border-radius: $border-radius;
    box-sizing: border-box;
    text-align: right;
}

.stats-bar {
    bottom: 0;
    top: auto;
    z-index: 1;
    color: #fff;

    .country, .city {
        font-weight: bold;
        font-size: 20px;
        background: #FFCC00;
        border-radius: 50%;
        line-height: 32px;
        width: 36px;
        height: 36px;
        text-align: center;
        display: inline-block;
    }
}

.download-bar__button.download-bar__button {
    background: $primary-color;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    margin-left: 5px;
}

.download-bar__button.download-bar__button:hover {
    background-color: #FFD700;
    transition: all 0.3s ease 0s;
    color: #333;
    box-shadow: 0 3px 10px #ccc;
}

.download-bar__button {
    .icon {
        margin-left: 5px;
        padding:  5px 20px 5px 0;
        background-position: 100% 50%;
    }
}

.content {
    padding: 1em;
    width: 80%;
    max-width: 800px;
    margin: 2em auto;
    position: relative;
    border-radius: $border-radius;
    border: .2em solid $primary-color;
    box-shadow: 3px 3px 3px #111;
    background: #fff;

    box-sizing: border-box;
}

body {

    background: linear-gradient(90deg, #9D50BB 10%, #6E48AA 90%); /* W3C */
}

.example {
    a {
        padding: 3px;
        border-radius: $border-radius;
    }
    .icon-link {
        background-position: 100% 50%;
        padding-right: 20px;
    }

}

.example__hint {
    color: #999;
    -ms-word-break: break-all;
    word-break: break-all;
    // Non standard for webkit
    word-break: break-word;
    display: block;
    margin-top: 5px;
}

.tab {
    position: relative;
    overflow: hidden;
}

.main-nav {
    margin: 20px 0;
    li {
        background: $grey;
    }
}

.stats {
    bottom: 0;
    z-index: 1;
    position: absolute;
    td {
        width: 50px;
        text-align: right;
    }
}

.footer {
    text-align: center;
    font-size: 12px;
    color: $font-color;
    margin: 2em auto;
    padding: .3em 1em;
    width: 80%;
    a {
        padding: 3px;

        &:hover {
            background-color: transparent;
            color: $white;
        }
    }

    .icon {
        background-position: 0% 50%;
        padding: 5px 5px 5px 30px;
    }


}

.url-form__submit .icon {
    margin-left: 10px;
}
