version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 100
    commit-message:
      prefix: "chore"
      include: "scope"

- package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: daily
      time: "07:00"
      timezone: "Europe/Berlin"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore"
      include: "scope"