doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        title Download Your TripAdvisor Travel Map (kml/csv)
        link(rel='stylesheet' href='../styles/styles.pcss')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(http-equiv='content-security-policy' content="default-src 'self'; script-src 'self' https://www.gstatic.com/charts/ https://feedback.fish; style-src 'unsafe-inline' 'self' https://www.gstatic.com/charts/ https://feedback.fish; object-src 'none'; base-uri 'self'; connect-src 'self' data: https://www.gstatic.com/charts/; font-src 'self'; frame-src 'self' https://feedback.fish; img-src 'self' data:; manifest-src 'self'; media-src 'self'; worker-src 'none';")
        link(rel='canonical' href='https://download-your-travelmap.christianhaller.com')
        meta(name='description' content='download your tripadvisor travel map')
        link(rel='shortcut icon' href='./favicon.ico')
    block body
