@tailwind base;

@tailwind components;

@tailwind utilities;

a {
  text-decoration: underline;
}

#download {
  text-decoration: none;
}

table {
  width: 100%;
}

table tr:hover td {
  background: #333;
  color: #fff;
}
