@tailwind base;

@tailwind components;

@tailwind utilities;

a {
  text-decoration: underline;
}

#download {
  text-decoration: none;
}

table {
  width: 100%;
}

table tr:hover td {
  background: #333;
  color: #fff;
}

.bg {
  background-size:cover;
  background-color: #000;
  background-image: url('nasa-1lfI7wkGWZ4-unsplash.jpg');
}
