name: test end to end nightly

on:
  push:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 */6 * * *'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.2.0
        with:
          node-version: '16'
      - run: npm ci
      - run: PUPPETEER_EXECUTABLE_PATH="/usr/bin/google-chrome-stable" URL=https://download-your-travelmap.christianhaller.com npm run test:e2e


